.form {
  margin: 10px auto 30px;
  color: #000;
}

.form input {
  padding: 5px 10px;
  border: 1px solid transparent;
  outline: none;
  transition: all .5s;
  margin-bottom: 10px;
}

.form input:focus {
  border-color: aqua;
  box-shadow: 4px 4px 8px 0px rgba(17, 237, 230, 0.2);
}